*{
margin: 0;
padding:0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
html,
body,
#root {
width: 100%;
height: 100%;
}

.create-post-section {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 100%;
width: 100%;
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
gap: 10px;

}
form {
    height: 290px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;
background-color: rgba(255, 255, 255, 0.662);
padding: 20px;
border-radius: 10px;
}

input[type="text"],
input[type="file"] {
width: 80%;
padding: 10px;
border: 1px solid #040000;
border-radius: 5px;
}
button {
padding: 10px 20px;
border: none;
border-radius: 5px;
background-color: #4CAF50;
color: white;
cursor: pointer;
}
button:hover {background-color: #45a049;
    Scale: 1.05;
}
.feed-section {
display: flex;
height: 100%;
width: 100%;
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.nav{
    height: 13%;
    width: 100%;
    padding: 10px 20px;
display: flex;
justify-content: space-between;
align-items: center;

}